@import "../../styles/variables";
@import "../../styles/_breakpoint";

.NavBarContainer {
  margin-top: 2.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include xl {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .NavBarLogo {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      @include xl {
        font-size: 1.7rem;
        font-weight: 700;
        margin-right: 0.5rem;
      }
      font-size: 1.9rem;
      font-weight: 700;
      margin-right: 0.5rem;
    }

    h3 {
      @include xl {
        font-size: 1rem;
        font-weight: 300;
      }
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .LogoImage {
    height: 3.2rem !important;
    margin-left: 2rem;
    margin-right: 1rem;
    @include xl {
      height: 2.7rem !important;
      margin-left: 2rem;
      margin-right: 1rem;
    }
  }

  .ToggleButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 2rem;
  }

  .ToggleLanguageButton {
    background: none !important;
    border: none;
    background-color: none !important;
    width: 3rem !important;
    margin: 0 auto;
  }

  .LanguageLogo {
    margin: 0 0 !important;
    height: 2.5rem !important;
    @include xl {
      margin: 0 0 !important;
      height: 1.3rem !important;
    }
  }
  .LanguageLogo:hover {
    margin: 0 0 !important;
    height: 2.2rem !important;
    @include xl {
      margin: 0 0 !important;
      height: 1.4rem !important;
    }
  }
}
